.nav-container {
    display: flex;
    background-color: #ffe9aa;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 60px 10px 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-item {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.sos {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 2px;
}

ul {
    list-style-type: none;
    display: flex;
}